/* Restore breadcrumb styling */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    /* background-color: #f9f9f9; */
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 20px;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li a {
    color: #007bff;
    text-decoration: none;
    padding: 0 5px;
}

ul.breadcrumb li a:hover {
    color: #0056b3;
    text-decoration: underline;
}

ul.breadcrumb li i {
    margin: 0 10px;
    color: #6c757d;
}

ul.breadcrumb li:last-child a {
    color: #6c757d;
    pointer-events: none;
}

ul.breadcrumb li:last-child a.active {
    font-weight: bold;
}

#applicantsTable thead th {
    background-color: #34495e; 
    color: #ecf0f1; /* Lighter text color */
    padding: 12px;
    margin-bottom: 15%;
}